# ==========================
# CONFIGURAÇÕES GERAIS
# ==========================

# Limite de similaridade
SIMILARITY_THRESHOLD=

# Chave da API
OPENAI_API_KEY=

# ==========================
# CONFIGURAÇÕES DO BANCO
# ==========================

# Porta do banco de dados
DB_PORT=

# Usuário e senha do banco de dados
DB_SENHA=
DB_USERNAME=

# Nome do banco de dados
DB_NAME=

# Nome do container do banco de dados
DB_NOME_CONTAINER=

# ==========================
# CONFIGURAÇÕES DA API
# ==========================

# Nome do contianer e da imagem da API
API_NOME_IMAGEM=
API_NOME_CONTAINER=

# Porta da API
API_PORT=

# ==========================
# CONFIGURAÇÕES DO FRONT-END
# ==========================

# Nome da imagem e do container do front-end
FRONT_NOME_IMAGEM=
FRONT_NOME_CONTAINER=

# Porta do front-end
FRONT_PORT=